:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

html {
  scroll-padding-top: 80px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; 
  background-color: #1447E6;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 10px;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-cabecalho {
  height: 130px;
  display: flex;
  align-items: center;
}

.logo-imagem {
  max-height: 100%;
  width: auto;
}

.links-navegacao { 
  display: flex;
  gap: 35px;
}

.links-navegacao a {
  color: white;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 5px; 
  padding: 8px 12px;
  font-weight: 300;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.links-navegacao a:hover {
  background-color: #2B7FFF;
  color: white;
}

.icone-hamburguer {
  display: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

/* Estilos do Menu Lateral */
.menu-lateral { 
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #1034a1;
  z-index: 2000;
  transition: left 0.3s ease-in-out;
  box-shadow: 100% rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  transition: opacity 0.3s ease-in-out; 
}

.menu-lateral.aberto {
  left: 0;
}

.links-navegacao.nav-mobile { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.links-navegacao.nav-mobile a {
  width: 100%;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.links-navegacao.nav-mobile a:last-child {
  border-bottom: none;
}

.overlay-menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.overlay-menu-lateral.aberto {
  opacity: 1;
  visibility: visible;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  .cabecalho {
    height: 80px;
    justify-content: space-between; 
    padding: 0 20px;
  }

  .links-navegacao.nav-desktop { 
    display: none;
  }
  .logo-imagem {
    height: 130px;
    max-height: none;
    width: auto; 
  }

  .icone-hamburguer {
    display: block;
  }
  .secao-principal {
    padding-top: 80px;
  }
}

.secao-principal {
  padding-top: 80px;
  background-color: #162456;
  color: white;
}

.secao-sobre-nos {
 background: #2A7B9B;
 background-image: linear-gradient(to right top, #2b7fff, #4287fb, #548ff7, #6496f3, #739eee, #6caaf3, #68b5f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.secao-nossas-empresas.h1{
  align-items: left
}

.secao-nossas-empresas {
  background-color: #62748E;
  color: white;
}

.secao-contato {
  background-color: #00BBA7;
  color: white;
  position: relative;
}
